body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#lab_social_icon_footer {
    padding: 20px 0;
    background-color: #343A40;
  }
  
  #lab_social_icon_footer a {
    color: #CCCECF;
  }
  
  #lab_social_icon_footer .social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  
  #lab_social_icon_footer .social {
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
  }

.background{
  background-color: #FFFFFF;
}

body{
  background-color: #F8F9FA;
}